/*
Colores & tipografía: 
Verde - #ABE188;
Rosa - #F78E69;
font-family: 'Raleway', sans-serif;
*/

/* Escribe tu código acá debajo */
*{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

nav{
	height: 107px;
	background-color: #F78E69;
}

.uno {
	background-image: url(../img/uno.jpg);
	padding:25vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.dos{
	background-color: #ABE188;
	padding: 100px;
	height: 600px;
}
.mb0{
	padding-bottom: 0;
}

 hr{
	border: 10px solid #F78E69;
}

.texto{
	background-color: #F78E69;
	padding: 10px;
}

.cuadrado{
	width: 500px;
	
}

.tres{
	background-image: url(../img/dos.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 25vh;
	padding-bottom: 490px;
}

.cuatro{
	background-color: #ABE188;
	padding: 100px;
	height: 500px;
}

.cuatro h4{
	font-size: 50px;
	color: white;

}

.cuatro img{
	margin-top: 30px;
	border: 10px solid white;
}

.cinco{
	background-image: url(../img/tres.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 25vh;
	padding-bottom: 300px;
}

footer{
	background-color: #F78E69;
	height: 60px;
}

footer h5{
	margin-left: 55%;
	color: white;
}



